<div class="col-md-8">
    <p style="font-size: 18px; font-weight: bold; color: #666666">Driver Information</p>
    <hr/>
    <div class="row">
        <div class="form-group col-md-6 required has-feedback">
            <label>First Name</label>
            {{input value=driver.first_name type='text' class='form-control' placeholder='First Name'}}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 required has-feedback">
            <label>Last Name</label>
            {{input value=driver.last_name type='text' class='form-control' placeholder='Last Name'}}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 required has-feedback">
            <label>Driver License Number</label>
            {{input value=driver.driver_license_number type='text' class='form-control' placeholder='Driver License Number'}}
        </div>
    </div>
    <div>
        <ul class="nav navbar-nav pull-left">

            <li>
                <button {{action 'updateDriver'}} class="btn btn-success btn-sm navbar-secondary-btn btn-sm"
                                                  type="button"> Update
                </button>
            </li>
        </ul>
    </div>
</div>
<div style="width: 100%; margin: 0 auto; ">
    <div class="col-md-4" align="center">
        <br/>
        <br/>
        <legend>
            <h4 style="font-size: 18px; font-weight: bold; color: #666666" align="center">Schedules for this Driver</h4>
        </legend>
        <table>
            <div id="mainbox">
                <div class="border">
                    {{#each schedule as |schedule|}}
                        <br/>
                        Vehicle Id: {{schedule.vehicle_plate_number}}
                        <br/>
                        Day of Week: {{schedule.type_into_day}}
                        <br/>
                        <p class="bottomBorder"></p>
                    {{/each}}
                </div>
            </div>
            <div align="right">
                <button {{action 'goBack'}} class="btn btn-warning btn-sm navbar-secondary-btn"
                                            type="submit">
                    Back
                </button>
            </div>
        </table>
    </div>
</div>
{{outlet}}