<div style="width: 100%; margin: 0 auto; ">
    <div class="col-md-6" align="left">
        <legend>
            <h4 style="font-size: 18px; font-weight: bold; color: #666666">ADD DRIVER</h4>
        </legend>
        <div>
            <label>First Name: </label>
            {{textarea value=driver.first_name class='form-control' rows='1' placeholder='First Name'}}
            {{!--{{#x-select class='form-control'}}
                {{#each model as |driver|}}
                    {{#x-option}}{{driver.id}}{{/x-option}}
                {{/each}}
            {{/x-select}}--}}
        </div>
        <div>
            <label>Last Name: </label>
            {{textarea value=driver.last_name class='form-control' rows='1' placeholder='Last Name'}}
            {{!--{{#x-select class='form-control'}}
                            {{#each vehicleOptions as |vehicle|}}
                                {{#x-option value=vehicle.val}}{{vehicle.label}}{{/x-option}}
                            {{/each}}
                        {{/x-select}}--}}
        </div>
        <div>
            <label>Driver License Number: </label>
            {{textarea value=driver.driver_license_number class='form-control' rows='1' placeholder='Driver License Number'}}
        </div>
        <br/>
        <div>
            <button {{action 'addDriver'}} class="btn btn-primary navbar-secondary-btn" type="submit">
                Create
            </button>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
<div style="width: 100%; margin: 0 auto; ">
    <div class="col-md-4" align="center">
        <legend>
            <h4 style="font-size: 18px; font-weight: bold; color: #666666" align="center">DRIVERS</h4>
        </legend>
        <table>
            <div id="mainbox">
                <div class="border">
                    {{#each model as |driver|}}
                        {{#link-to 'drivers.view' driver.id}}
                            <br/>
                            Name: {{driver.full_name}}
                            <br/>
                            <br/>
                            Driver License Number: {{driver.driver_license_number}}
                            <br/>
                            <br/>
                        {{/link-to}}
                        <div align="right">
                            <button {{action 'remove' driver}} class="btn btn-warning btn-sm navbar-secondary-btn"
                                                               type="submit">
                                Remove
                            </button>

                        </div>
                        <p class="bottomBorder"></p>
                    {{/each}}
                </div>
            </div>
        </table>
    </div>
</div>
{{outlet}}

